* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins';
}

body {
    /* margin: auto; */
    padding: 5rem 0rem;
    background-color: #f2f2f2;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

main {
    /* width: 60%; */
    margin: 0 auto;
    /* display: flex; */
    /* justify-content: center; */
    background-color: #ffffff;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

.image__container {
    width: 40%;
    position: relative;
    z-index: 2;
    display: inline-block;

}

.image__logo {
    position: absolute;
    top: 4rem;
    left: 5rem;
    z-index: 5;
    width: 18rem;
}

.image {
    /* position: absolute; */
    /* top: 0; */
    width: 40%;
    display: inline-block;
    /* height: 100%; */
    /* background-size: cover; */
    background-blend-mode: hard-light;
    background-image: 
    linear-gradient(to bottom,#00AB9E, rgb(80, 197, 233)), 
    url(img/yoga\ picture.png);
}

.form {
    /* width: 60%;   */
    display: inline-block;
    /* padding: 5rem 10rem; */
}

.form__heading {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
    color: #1d1d1d;
}

.form__sub-heading {
    color: #676767;
    font-size: 1.6rem;
    margin-bottom: 3rem;
    font-weight: 300;
}

.form__label {
    color: #1d1d1d;
    font-weight: 700;
    display: block;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.form__input {
    width: 100%;
    height: 4rem;
    margin-bottom: 2rem;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    font-family: inherit;


}

.form__input::placeholder {
    color: #b6b6b6;
    font-size: 1.5rem;
}

.submit {
    display: none;
}

.button {
    border-radius: 1rem;
    width: 100%;
    padding: 2rem 5rem;
    font-weight: 500;
    text-align: center;
    transition: all .2s;
}

.button:hover {
    transform: translateY(-.5rem);
    cursor: pointer;
}

.button:active {
    transform: translateY(-.2rem);
    cursor: pointer;
}

.form__submit {
    background-color: #00AB9E;
    color: #f2f2f2;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    margin-top: 1.5rem;
}

.signup {
    /* background-color: #f2f2f2; */
    border: 1px solid #b6b6b6;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.signup-text {
    font-size: 1.6rem;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color: #1d1d1d;
    
}

.signup__google {
    width: 2rem;
    margin-right: 1rem;
}

.center {
    text-align: center;
}

.login {
    color: #00AB9E;
    text-decoration: none;
    font-weight: 600;
}
