.row {
    max-width: $grid-width;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    @include clearfix;

    .col {
        &-1 {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin-right: 8%;
        }
    
        &-2 {
            display: flex;
            align-items: center;

        }
    }
}



.intro__content {
    &--row {
        width: 100%;

        @include clearfix;
    }

    &--column {
        display: inline-block;
        width: 18rem;

        &:not(:last-of-type) {
            margin-right: 15vw;
        }

        &-heading {
            font-weight: 800;
            text-align: center;
            font-size: $font-small;
            color: $color-black;
        }

        &-sub {
            font-weight: 600;
            font-size: $font-smaller;
            color: $color-black;
            text-align: center;
        }
    }

}