.header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 2rem 0 rgba(black, .5);
    padding: 2rem 0;
}

.nav-bar {
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 5rem;
    row-gap: 2rem;
}

.section {
    
    &__list {
        font-size: $font-medium;
    }

    &__items {
        display: inline-block;
        &:not(:last-of-type) {
            margin-right: 5rem;
        }
    }

    &__link {
        color: $color-purple-tertiary;

    }


}

.socials {

    &__link {
        &:not(:last-of-type) {
            margin-right: 2rem;
        }
    }
    

    &__icon {
        fill: purple;
        width: 3rem;
        height: 3rem;
    }
}