.hero {
    margin-top: 10rem !important;
    background-image:
    linear-gradient(to right bottom, rgba($color-purple-secondary, .7), rgba($color-purple-tertiary, .7)),
    url(/img/product-images/bow-earrings.jpeg);

    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    // ! TO BE REMOVED
    height: 65rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);

    @include responsive(phone) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    }


    &__text {
        font-size: $font-xLarge;
        color: $color-white;
        font-weight: 500;
        text-align: center;
    }
}