* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @include responsive(big-screen) {
        font-size: 75%;
    }

    @include responsive(tab-land) {
        font-size: 56.25%;
    }

    @include responsive(tab-port) {
        font-size: 50%;
    }

    @include responsive(phone) {
        font-size: 30%;
    }
}

body {
    width: 100%;
    background-color: $color-white;
}

a {
    text-decoration: none;
}

main {
    width: 80%;
    margin: 0 auto;
}

