* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Manrope';
    
}

a:focus {
    outline: 2px solid $color-blue-dark;
    outline-offset: 0;
}

a {
    text-decoration: none;
}