.header__main {

    &--text {
        font-size: $font-large;
        font-weight: 700;
        line-height: 8rem;
        color: $color-black;
        margin-bottom: $margin-bottom-medium;
    }

    &--special-text {
        color: $color-blue-dark;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 7rem;
            left: 0;
            background-color: $color-blue-dark;
            width: 12rem;
            height: 1rem;
            clip-path: polygon(5% 40%, 100% 0, 95% 20%, 0 100%);
            // transform: skew(-60deg, -2deg);

        }
    }

    &--paragraph {
        color: $color-blue-dark;
        font-size: $font-medium;
        line-height: 1.5;
        margin-bottom: $margin-bottom-small;
        width: 50rem;
        font-weight: 600;
    }
}

.blue-heading {
    color: $color-blue-dark;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font-medium;
    margin-bottom: 1rem;
}

.black-sub {

    color: $color-black;
    font-weight: 600;
    font-size: $font-medium-2;
    margin-bottom: 3rem;

}

.details__content--text-section {
    &-heading {
        font-size: $font-mediumer;
        font-weight: 600;
        color: $color-black;

    }

    &-paragraph {
        font-size: $font-mediumest;
        font-weight: 500;
        color: $color-blue-mid;
    } 
}

.subscribe {
    &__heading {
        color: $color-white;
        font-size: $font-medium-2;
        font-weight: 500;
        line-height: 1.7;
    }

    &__sub {
        color: $color-white;
        font-weight: 300;
        font-size: $font-mediumer;
        letter-spacing: .15rem;
    }
}