.u-margin-bottom-small {
    margin-bottom: 2rem !important;
}

.u-margin-bottom-bigsmall {
    margin-bottom: 3rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 5rem !important;
}

.u-margin-bottom-large {
    margin-bottom: 10rem !important;
}


.u-center-text {
    text-align: center;
}

.u-text-blue {
    color: $color-blue-dark !important;
}

.u-max-width {
    max-width: 115rem !important;
    margin: 0 auto;
}