.three-rings {
    &--one {
        border: 1px solid white;
        // border-bottom: 1px solid white;
        width: 38rem;
        height: 40rem;
        border-radius: 50%;
        background-color: transparent;
        position: absolute;
        top: -70%;
        transform: translate(-5rem, 3rem);
    }

    &--two {
        border: 1px solid white;
        // border-bottom: 1px solid white;
        width: 40rem;
        height: 42rem;
        border-radius: 50%;
        background-color: transparent;
        position: absolute;
        top: -70%;
        transform: translate(-6rem, 4rem);
    }

    &--three {
        border: 1px solid white;
        // border-bottom: 1px solid white;
        width: 42rem;
        height: 44rem;
        border-radius: 50%;
        background-color: transparent;
        position: absolute;
        top: -70%;
        transform: translate(-7rem, 5rem);
    }
}

.intro__content--bg {
    &-up {
        width: 25rem;
        height: 15rem;
        border-radius: 50% ;
        border: 1.5px dotted $color-blue-dark-2;
        border-color: $color-blue-dark-2 transparent transparent  transparent;
        position: absolute;
        right: 35%;
        top: 3rem;
        transform: translate(60%, -2rem);
        z-index: 5;
    }

    &-down {
        width: 25rem;
        height: 15rem;
        border-radius: 50% ;
        border: 1.5px dotted $color-blue-dark-2;
        border-color: transparent transparent $color-blue-dark-2 transparent;
        position: absolute;
        left: 35%;
        z-index: 5;
        top: -3rem;
        transform: translate(-60%, -2rem);
    }
}