.recommend__card {
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    gap: 3rem;
    grid-auto-columns: 1fr;
    border: none;
    max-width: 115rem;


    &--col {
        height: 42rem;
        border: none;
        position: relative;
        perspective: 180rem;
    }

    &--side {
        height: 42rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        transition: all 1s;
        box-shadow: 0 0 2rem 0 rgba($color-black, .2);
        border-radius: 10px;
        overflow: hidden;
        

        &-front {
            background-color: $color-blue-light;

            
        }


        &-back {
            transform: rotateY(180deg);

            &-one {
                background-image: linear-gradient(to bottom, $color-blue-dark, $color-blue-middi);
                
            }
        }


    }

    &--col:hover &--side-front {
        transform: rotateY(-180deg);
    }

    &--col:hover &--side-back {
        transform: rotateY(0);
    }

    &--image {
        height: 45%;
        width: 100%;
        background-size: cover;
        background-position: center;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &-one {
            background-image: url(../img/benz-car-high.png), linear-gradient(to right top, $color-blue-middi 10%, $color-blue-dark 90%);
        }
        
        &-two {
            // padding: 3rem;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
            background-image: url(../../img/porche.png), linear-gradient(to right top, $color-blue-middi 10%, $color-blue-dark 90%);
        }
        
        
        &-three {
            background-image: url(../img/bmwcar.png), linear-gradient(to right top, $color-blue-middi 10%, $color-blue-dark 90%);
        }
        
        &-four {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
            background-image: url(../../img/ford-focus.png), linear-gradient(to right top, $color-blue-middi 10%, $color-blue-dark 90%);
        }
    }

    &--front-details {
        padding: 2rem 4rem;

        &-title {
            display: block;
            width: 70%;
            font-size: $font-medium;
            font-weight: 300;
            color: $color-white;
            position: absolute;
            top: 14rem;
            right: 1.5rem;
            text-align: right;
            text-transform: uppercase;



            &-span {
            padding: .5rem 1.5rem;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
            line-height: 1.7;

                &-one {
                    background-image: linear-gradient(to right bottom, $color-blue-light, $color-blue-dark);
                }

                &-two {
                    background-image: linear-gradient(to right bottom, $color-blue-light, $color-blue-dark);
                }

                &-three {
                    background-image: linear-gradient(to right bottom, $color-blue-light, $color-blue-dark);
                }

                &-four {
                    background-image: linear-gradient(to right bottom, $color-blue-light, $color-blue-dark);
                }
            }
        }

        ul {
            list-style: none;
            margin: 3rem auto;
            text-align: left;

            li {
                color: $color-blue-dark;
                font-size: $font-mediumest;
                display: flex;
                justify-content: space-between;

                &:not(:last-child) {
                    margin-bottom: 1rem;
                    padding-bottom: 1rem;
                    border-bottom: 1px solid $color-grey-light;
                }
                
                i {
                    display: inline-block;
                    margin-right: 3rem;
                    text-align: left;
                }

                p {
                    display: inline-block;
                }

            }
        }
    }

    &--icon {
        width: 2rem;
    }


    &--price {
        color: $color-white;
        font-weight: 300;
        font-size: $font-large-2;
        margin-bottom: 10rem;

        span {
            font-size: $font-mediumer;
        }
    }

    &--cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        

        &-text {
            text-decoration: none;
            color: $color-blue-dark;
            font-size: $font-mediumer;
            font-weight: 600;
        }

    }


}

.card {
    margin: 0 auto;
    max-width: 115rem;
    margin-bottom: 10rem;
    margin-top: 5rem;

    &__row {
        display: grid;
        grid-auto-flow: column;
        gap: 3rem;
    }

    &__col {

        &--1 {
            width: 30rem;
            box-shadow: 0 0 2rem 0 rgba($color-black, .3);
            padding: 2rem 3rem;
            border-radius: 5px;
        }
    }

    &__image--container {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        // background-color: yellow;
        background-size: cover;
        background-position: center;
        // border: 1px solid black;
        margin: 0 auto;
        margin-bottom: 2rem;

        &-1 {
            background-image: url(../../img/BrittneyBarrett.jpg);
        }
        
        &-2 {
            background-image: url(../../img/jacobjones.jpg);

        }

        &-3 {
            background-image: url(../../img/SharonPatil.jpg);

        }
    }

    &__paragraph {
        padding: 1rem 2rem;
        font-size: $font-small;
        font-weight: 500;
        margin-bottom: 3rem;
        font-style: italic;
    }

    &__name {
        font-weight: 900;
        color: $color-black;
        margin-bottom: 1rem;
        font-size: $font-medium;

    }

    &__title {
        font-size: $font-mediumest;
        color: $color-grey;

    }
}