@keyframes car-fade-in {
  0% {
    transform: translate(85%, -25%);
    opacity: 0; }
  80% {
    transform: translate(10rem, -25%); }
  100% {
    opacity: 1; } }

@keyframes scale-in {
  0% {
    transform: scale(0.5);
    opacity: 0; }
  80% {
    transform: scale(1.2); }
  100% {
    opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Manrope'; }

a:focus {
  outline: 2px solid navy;
  outline-offset: 0; }

a {
  text-decoration: none; }

.header__main--content {
  margin-left: 10rem; }

.header__main--text {
  font-size: 6rem;
  font-weight: 700;
  line-height: 8rem;
  color: black;
  margin-bottom: 5rem; }

.header__main--special-text {
  color: navy;
  position: relative; }
  .header__main--special-text::after {
    content: "";
    position: absolute;
    top: 7rem;
    left: 0;
    background-color: navy;
    width: 12rem;
    height: 1rem;
    clip-path: polygon(5% 40%, 100% 0, 95% 20%, 0 100%); }

.header__main--paragraph {
  color: navy;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  width: 50rem;
  font-weight: 600; }

.blue-heading {
  color: navy;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  letter-spacing: .1rem; }

.black-sub {
  color: black;
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 3rem; }

.details__content--text-section-heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: black; }

.details__content--text-section-paragraph {
  font-size: 1.4rem;
  font-weight: 500;
  color: #333399; }

.subscribe__heading {
  color: white;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.7; }

.subscribe__sub {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: .15rem; }

.footer ul {
  list-style: none; }
  .footer ul li:not(:last-child) {
    margin-bottom: 2rem; }
  .footer ul li {
    font-size: 1.5rem;
    font-weight: 100; }

.footer__header {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  font-weight: 600; }

.footer__contact-us h2 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  letter-spacing: .2rem; }

.footer__contact-us p {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .1rem;
  line-height: 1.7; }

.pop-up__heading {
  color: black;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 900; }

.pop-up__sub-heading {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 7rem;
  line-height: 1.7; }

.pop-up__tandc {
  font-size: 1.2rem;
  color: black;
  font-weight: 600;
  text-align: center; }

.pop-up__link {
  color: #9e9ef7;
  font-style: italic;
  transition: font-size .2s; }
  .pop-up__link:hover {
    color: navy;
    font-size: 1.3rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-bigsmall {
  margin-bottom: 3rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 5rem !important; }

.u-margin-bottom-large {
  margin-bottom: 10rem !important; }

.u-center-text {
  text-align: center; }

.u-text-blue {
  color: navy !important; }

.u-max-width {
  max-width: 115rem !important;
  margin: 0 auto; }

.banner {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.4);
  transform: translate(0, 50%); }

.three-rings--one {
  border: 1px solid white;
  width: 38rem;
  height: 40rem;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: -70%;
  transform: translate(-5rem, 3rem); }

.three-rings--two {
  border: 1px solid white;
  width: 40rem;
  height: 42rem;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: -70%;
  transform: translate(-6rem, 4rem); }

.three-rings--three {
  border: 1px solid white;
  width: 42rem;
  height: 44rem;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: -70%;
  transform: translate(-7rem, 5rem); }

.intro__content--bg-up {
  width: 25rem;
  height: 15rem;
  border-radius: 50%;
  border: 1.5px dotted #6666cc;
  border-color: #6666cc transparent transparent transparent;
  position: absolute;
  right: 35%;
  top: 3rem;
  transform: translate(60%, -2rem);
  z-index: 5; }

.intro__content--bg-down {
  width: 25rem;
  height: 15rem;
  border-radius: 50%;
  border: 1.5px dotted #6666cc;
  border-color: transparent transparent #6666cc transparent;
  position: absolute;
  left: 35%;
  z-index: 5;
  top: -3rem;
  transform: translate(-60%, -2rem); }

.header__main--button {
  margin-bottom: 3rem; }
  .header__main--button-apple {
    text-decoration: none;
    display: inline-block;
    background-color: black;
    color: white;
    margin-right: 2rem;
    position: relative; }
  .header__main--button-google {
    text-decoration: none;
    display: inline-block;
    background-color: black;
    color: white;
    position: relative; }
  .header__main--button-logo {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    height: 2.5rem; }
  .header__main--button-smalltext {
    font-size: 1.2rem;
    margin-left: 3rem;
    font-weight: 500; }
  .header__main--button-bigtext {
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 3rem;
    letter-spacing: 1px; }

.button {
  box-shadow: 0 0rem 2rem rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 1rem 2rem;
  text-decoration: none;
  position: relative;
  transition: all .2s;
  cursor: pointer; }
  .button:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3); }
  .button__submit {
    display: none; }

.btn-blue {
  background-color: navy;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 3rem; }

.recommend__btn {
  display: inline-block;
  text-align: center;
  padding: 2rem 4rem;
  color: navy;
  background-color: white;
  text-decoration: none;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  margin-top: 3rem;
  font-size: 1.3rem;
  font-weight: 900;
  transition: all .2s; }
  .recommend__btn:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.32); }
  .recommend__btn:active {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }

.btn-round {
  display: inline-block;
  background-color: white;
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
  transition: all .2s;
  position: relative; }
  .btn-round:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.32); }
  .btn-round:active {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }

.btn-subscribe {
  padding: 1rem 5rem;
  display: inline-block; }
  .btn-subscribe:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.32); }
  .btn-subscribe:active {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.5); }

.recommend__card {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
  grid-auto-columns: 1fr;
  border: none;
  max-width: 115rem; }
  .recommend__card--col {
    height: 42rem;
    border: none;
    position: relative;
    perspective: 180rem; }
  .recommend__card--side {
    height: 42rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    transition: all 1s;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden; }
    .recommend__card--side-front {
      background-color: #e3e3ee; }
    .recommend__card--side-back {
      transform: rotateY(180deg); }
      .recommend__card--side-back-one {
        background-image: linear-gradient(to bottom, navy, #bee0ee); }
  .recommend__card--col:hover .recommend__card--side-front {
    transform: rotateY(-180deg); }
  .recommend__card--col:hover .recommend__card--side-back {
    transform: rotateY(0); }
  .recommend__card--image {
    height: 45%;
    width: 100%;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .recommend__card--image-one {
      background-image: url(../img/benz-car-high.png), linear-gradient(to right top, #bee0ee 10%, navy 90%); }
    .recommend__card--image-two {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
      background-image: url(../../img/porche.png), linear-gradient(to right top, #bee0ee 10%, navy 90%); }
    .recommend__card--image-three {
      background-image: url(../img/bmwcar.png), linear-gradient(to right top, #bee0ee 10%, navy 90%); }
    .recommend__card--image-four {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
      background-image: url(../../img/ford-focus.png), linear-gradient(to right top, #bee0ee 10%, navy 90%); }
  .recommend__card--front-details {
    padding: 2rem 4rem; }
    .recommend__card--front-details-title {
      display: block;
      width: 70%;
      font-size: 1.8rem;
      font-weight: 300;
      color: white;
      position: absolute;
      top: 14rem;
      right: 1.5rem;
      text-align: right;
      text-transform: uppercase; }
      .recommend__card--front-details-title-span {
        padding: .5rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        line-height: 1.7; }
        .recommend__card--front-details-title-span-one {
          background-image: linear-gradient(to right bottom, #e3e3ee, navy); }
        .recommend__card--front-details-title-span-two {
          background-image: linear-gradient(to right bottom, #e3e3ee, navy); }
        .recommend__card--front-details-title-span-three {
          background-image: linear-gradient(to right bottom, #e3e3ee, navy); }
        .recommend__card--front-details-title-span-four {
          background-image: linear-gradient(to right bottom, #e3e3ee, navy); }
    .recommend__card--front-details ul {
      list-style: none;
      margin: 3rem auto;
      text-align: left; }
      .recommend__card--front-details ul li {
        color: navy;
        font-size: 1.4rem;
        display: flex;
        justify-content: space-between; }
        .recommend__card--front-details ul li:not(:last-child) {
          margin-bottom: 1rem;
          padding-bottom: 1rem;
          border-bottom: 1px solid #c0bdbd; }
        .recommend__card--front-details ul li i {
          display: inline-block;
          margin-right: 3rem;
          text-align: left; }
        .recommend__card--front-details ul li p {
          display: inline-block; }
  .recommend__card--icon {
    width: 2rem; }
  .recommend__card--price {
    color: white;
    font-weight: 300;
    font-size: 4rem;
    margin-bottom: 10rem; }
    .recommend__card--price span {
      font-size: 1.5rem; }
  .recommend__card--cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .recommend__card--cta-text {
      text-decoration: none;
      color: navy;
      font-size: 1.5rem;
      font-weight: 600; }

.card {
  margin: 0 auto;
  max-width: 115rem;
  margin-bottom: 10rem;
  margin-top: 5rem; }
  .card__row {
    display: grid;
    grid-auto-flow: column;
    gap: 3rem; }
  .card__col--1 {
    width: 30rem;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.3);
    padding: 2rem 3rem;
    border-radius: 5px; }
  .card__image--container {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 2rem; }
    .card__image--container-1 {
      background-image: url(../../img/BrittneyBarrett.jpg); }
    .card__image--container-2 {
      background-image: url(../../img/jacobjones.jpg); }
    .card__image--container-3 {
      background-image: url(../../img/SharonPatil.jpg); }
  .card__paragraph {
    padding: 1rem 2rem;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 3rem;
    font-style: italic; }
  .card__name {
    font-weight: 900;
    color: black;
    margin-bottom: 1rem;
    font-size: 1.8rem; }
  .card__title {
    font-size: 1.4rem;
    color: grey; }

.banner__form {
  position: relative;
  width: 100%; }
  .banner__form--cell {
    display: inline-block; }
    .banner__form--cell:not(:last-child) {
      margin-right: 5rem; }
  .banner__form--label {
    display: block;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.2rem;
    margin-bottom: .8rem; }
  .banner__form--input {
    height: 3rem;
    margin-bottom: 1rem;
    border: none;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.3);
    padding: 1rem 2rem;
    color: black; }
    .banner__form--input:focus {
      outline: none;
      border-bottom: 1px solid navy; }
    .banner__form--input::-webkit-input-placeholder {
      color: #c0bdbd;
      font-family: "Manrope"; }

.big-bar {
  width: 20rem; }

.small-bar {
  width: 15rem; }

.newsletter__form--input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 2px solid navy;
  padding: 1rem 0rem;
  background-color: transparent;
  font-size: 1.5rem; }
  .newsletter__form--input:focus {
    outline: none; }
  .newsletter__form--input:invalid {
    border-bottom-color: #bb0c0c; }
  .newsletter__form--input::-webkit-input-placeholder {
    color: grey;
    font-family: "Manrope"; }

.newsletter__form--label {
  display: block;
  text-align: left;
  color: navy;
  margin-left: 1.5rem;
  font-size: 1.1rem;
  font-weight: 700;
  transform: translateY(0);
  opacity: 1;
  transition: all .2s; }

.newsletter__form--input:placeholder-shown + .newsletter__form--label {
  transform: translateY(-2rem);
  opacity: 0; }

.pop-up__input {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5rem;
  padding: 2rem 3rem;
  color: black;
  border: none;
  border-radius: 5px;
  border-bottom: 1.5px solid transparent;
  box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.5);
  font-size: 1.4rem; }
  .pop-up__input:focus {
    outline: transparent;
    border-bottom-color: navy; }
  .pop-up__input::-webkit-input-placeholder {
    font-family: "Manrope";
    color: grey;
    font-weight: 500; }

.pop-up__submit {
  display: none; }
  .pop-up__submit--label {
    text-decoration: none;
    display: block;
    text-align: center;
    border: 1px solid navy;
    border-radius: 50rem;
    width: 80%;
    padding: 1.5rem 5rem;
    cursor: pointer;
    margin: 0 auto;
    font-size: 1.5rem;
    color: navy;
    font-weight: 300;
    margin-bottom: 3rem;
    background-image: linear-gradient(150deg, #6666cc 10%, aqua 60%, #6666cc 85%); }

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-right: 8%; }
  .row .col-2 {
    display: flex;
    align-items: center; }

.intro__content--grid {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 5rem;
  position: relative; }

.intro__content--column {
  display: inline-block;
  width: 18rem;
  margin: 0 auto;
  text-align: center;
  z-index: 200; }
  .intro__content--column-heading {
    font-weight: 900;
    font-size: 1.4rem;
    color: black;
    margin-bottom: 1.5rem; }
  .intro__content--column-sub {
    font-weight: 500;
    font-size: 1.3rem;
    color: black;
    line-height: 1.7; }
  .intro__content--column-icon {
    width: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 300; }

.intro__content--icon-container {
  width: 10rem;
  height: 10rem;
  border-radius: 2rem;
  box-shadow: 0 0rem 2rem 0 rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  position: relative; }

.blue {
  background-image: linear-gradient(to bottom, #6666cc, #9e9ef7); }

.white {
  background-image: linear-gradient(to bottom, white, white); }

.header {
  background-color: #d4cdf8;
  width: 100%;
  padding-top: 5rem; }
  .header__main {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 45fr 55fr;
    gap: 3rem; }
    .header__main--image-container {
      position: absolute;
      right: 0;
      top: 15rem;
      height: 40rem;
      z-index: 0;
      overflow: hidden; }
    .header__main--image {
      transform: translate(10rem, -25%);
      animation: car-fade-in 1s ease-in-out .2s;
      backface-visibility: hidden; }
  .header__icon {
    display: flex;
    justify-content: space-between;
    bottom: 3rem;
    margin: 8rem 10rem 3rem 10rem; }
    .header__icon--image {
      height: 4rem;
      filter: grayscale(1); }

.header__nav {
  font-size: 1.8rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem; }
  .header__nav--list {
    list-style: none; }
  .header__nav--item {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500; }
  .header__nav--link {
    text-decoration: none;
    color: grey;
    padding: 1rem .5rem;
    margin-right: 2rem;
    transition: all .2s; }
    .header__nav--link:hover {
      color: white;
      border-bottom: 1px solid navy; }
    .header__nav--link:focus, .header__nav--link:visited {
      outline: none;
      border-bottom: 1px solid navy; }
  .header__nav--access {
    font-size: 1.7rem;
    display: inline-block; }
    .header__nav--access-link-signup {
      color: navy;
      margin-right: 2rem;
      transition: all .2s;
      border-radius: 0; }
      .header__nav--access-link-signup:hover {
        border-bottom: 1px solid navy;
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
        padding: 1rem 3rem;
        border-radius: 5px; }
    .header__nav--access-link-signin {
      color: white;
      background-color: navy;
      transition: all .2s; }
      .header__nav--access-link-signin:hover {
        padding: 1rem 3rem;
        border-bottom: 1.5px solid white;
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3); }
      .header__nav--access-link-signin:focus {
        outline: 2px solid white; }

.pop-up {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all .4s; }
  .pop-up:target {
    visibility: visible;
    opacity: 1; }
  .pop-up:target .pop-up__sign-in {
    visibility: visible;
    opacity: 1;
    scale: 1; }
  .pop-up__sign-in {
    position: absolute;
    width: 35%;
    height: fit-content;
    padding: Min(10vh, 3rem);
    inset: 0;
    margin: auto;
    visibility: hidden;
    background-color: white;
    border-radius: 5px;
    opacity: 0;
    scale: .25;
    transition: all .3s .1s; }
  .pop-up__methods {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .pop-up__methods--dash {
      width: 5rem;
      height: 2px;
      background-color: grey; }
    .pop-up__methods--text {
      margin: 0 1rem;
      font-size: 1.3rem;
      color: black;
      font-weight: 600; }
  .pop-up__icons {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 8rem; }
    .pop-up__icons img {
      width: 4rem; }
    .pop-up__icons a {
      transition: all .2s; }
    .pop-up__icons a:hover {
      scale: 1.25; }
  .pop-up__register {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 35%;
    height: fit-content;
    padding: Min(10vh, 3rem);
    inset: 0;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    scale: .25;
    transition: all .3s .1s; }
  .pop-up:target .pop-up__register {
    opacity: 1;
    visibility: visible;
    scale: 1; }
  .pop-up__close {
    position: absolute;
    right: 3rem;
    top: 2rem;
    font-size: 4rem;
    color: #505050; }
    .pop-up__close:focus {
      outline: none; }
    .pop-up__close:hover {
      color: #9e9ef7; }

.section__header {
  width: 100%; }

.intro {
  width: 100%;
  background-color: white; }
  .intro__content {
    margin: 5rem auto;
    text-align: center; }

.details {
  background-color: #e3e3ee;
  width: 100%; }
  .details__content {
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 5rem; }
    .details__content--car {
      margin-top: 20%; }
    .details__content--text {
      margin: 5rem 0; }
      .details__content--text-deals {
        display: flex;
        align-items: flex-start; }
      .details__content--text-section {
        display: inline-block;
        flex: 1; }
        .details__content--text-section-heading {
          margin-bottom: 1rem; }
    .details__content--icon {
      width: 4rem;
      height: 4em;
      border-radius: 1rem;
      background-color: white;
      margin-right: 1rem;
      padding: 1rem; }

.recommend {
  width: 100%; }

.subscribe {
  width: 80%;
  background-color: navy;
  margin: 0 auto;
  padding: 5rem 10rem;
  border-radius: 1rem;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  position: relative;
  overflow: hidden; }
  .subscribe__left {
    width: 80%; }

.newsletter {
  width: 60%;
  background-color: #e3e3ee;
  margin: 0 auto;
  padding: 5rem 10rem;
  border-radius: 1rem;
  box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.4); }
  .newsletter__heading {
    width: 80%;
    margin: 0 auto; }

.footer {
  width: 100%;
  background-color: navy;
  padding: 5rem 0 5rem 0; }
  .footer__container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    color: white; }
  .footer__contact-us {
    width: 25%; }
