$color-black: #000000;
$color-black-light: #454545;
$color-grey-dark: rgb(83, 82, 82);
$color-grey-light: rgb(148, 147, 147);
$color-purple-light: rgb(122, 6, 122);
$color-purple-dark: rgb(95, 1, 95);
$color-white: #ffffff;
$color-yellow: #ffd500;

$font-small-1: 1.6rem;
$font-small-2: 1.4rem;